@import '../../assets/scss/partials/variables';
@import '../../assets/scss/partials/mixins';
#site-header {

    position: relative;

    .logo {
        padding: $gutter 0;
        display: block;
        margin: auto;
    }

    .menu-toggle {
        position: absolute;
        top: 50%;
        right: $gutter;
        transform: translateY(-50%);
        font-size: 24px;
        line-height: 28px;
    }

    #primary-navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(2px);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 300ms ease;

        &.visible {
            opacity: 1;
            visibility: visible;
            z-index: 10;
        }

        ul {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);

            li {
                text-align: center;
                margin-bottom: $gutter;
                &:last-of-type { margin-bottom: 0; }

                a {
                    font-size: 30px;
                    line-height: 34px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: $headerFontStack;  
                }
            }
        }// ul

        .menu-toggle {
            position: absolute;
            top: 55px;
            right: 33px;           
        }
    }// #primary-navigation

    @include desktop {

        .logo {
            display: inline-block;
            padding: 10px 0;
            vertical-align: middle;
            margin-right: $gutter;
        }

        .menu-toggle {
            display: none;
        }

        #primary-navigation {
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            left: auto;
            right: 0;
            bottom: auto;
            background: transparent;
            backdrop-filter: none;
            transform: translateY(-50%);

            ul {
                position: relative;
                top: auto;
                left: auto;
                transform: translateX(0);

                li {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0;
                    margin-right: $gutter;
                    &:last-of-type { margin-right: 0; }

                    a {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }

            .menu-toggle { display: none; }
        }// #primary-navigation
    }
    
}// #site-header