@import 'assets/scss/partials/variables';
@import 'assets/scss/partials/mixins';
@import 'assets/scss/partials/reset';
@import 'assets/scss/partials/typography';


*, *:before, *:after { box-sizing: border-box; }

.container {
    display: block;
    position: relative;
    max-width: 1340px;
    padding: 0 30px;
    margin: auto;
}

a {
    color: $navy;
    text-decoration: none;
    transition: all 300ms ease;
    &:visited, &:hover { text-decoration: none; }

    &:hover {
        color: lighten($navy, 20%);
    }
}

main { margin-bottom: 30px; }
footer {
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    padding: $gutter 0;
    text-align: right;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);

    @include desktop {
        position: absolute;
    }
}

.page-title {
    font-size: 32px;
    line-height: 36px;
    position: relative;
    margin: 30px 0;
    color: $navy;

    &:after {
        content: "";
        background: $navy;
        height: 1px;
        width: 100px;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
}

// TransitionComponent stuff
.page {
    position: absolute;
    margin-bottom: 76px; // account for fixed footer
}

.page-enter {
    opacity: 0;
    // transform: translateY(-10%);
}

.page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 600ms;
}

.page-exit {
    opacity: 1;
    transform: translateY(0);
}

.page-exit-active {
    opacity: 0;
    transform: translateY(10%);
    transition: opacity 300ms, transform 300ms;
}